a:link {
    color: black;
    text-decoration: none;
}

.jumbotron {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

.foot {
  text-align: center;
  padding: 10px;
  color: whitesmoke;
}

.btn:hover {
font-weight: bold;
}

.btn {
background-color: whitesmoke;
}

/* .card-header {
background-color: rgb(75, 190, 175);  
} */

tr:hover {
background-color: rgb(226, 225, 231);    
}


input[type=text]{
background-color: rgb(252, 252, 252);    
}

.custom-select{
background-color: rgb(252, 252, 252);    
}

.container-image {
    background: url(lotus.jpg no-repeat center fixed; 
    background-size: cover;
    /* margin: 2%; */
}

.card {
  margin-top: 2%;
  background-color: whitesmoke;
  border: none;
  border-radius: 0%;
}


@media screen and (max-width: 768px) {
  .col {
    min-width: 100%;
  }
}

.suggestion {
  margin: 2%;
}
