body {
  /* background-image: url("../images/background1.jpg"); */
  background-image: url("../images/background2.png");
  /* background-size: cover; */
  
}

section {
  width: 100%;
  padding: 7% 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
  /* background-image: url("../images/background1.jpg"); */
};
/* .jumbotron {
  margin:4px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
   background-color: rgba(245, 245, 245, 0.842);
} */

.foot {
  text-align: center;
  padding: 10px;
  color: whitesmoke;
}

.btn:hover {
font-weight: bold;
}

.btn {
background-color: whitesmoke;
}




@-webkit-keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
 }
 
 @-moz-keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
 }
 
 @-o-keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
 }
 
 @keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
 }
 
 /* .box {
   position:relative;
    display: inline-block;
 } */
 #cf4a {
   /* position: relative; */
   margin: 0 0;
   /* height: 80%; */
   /* width: -webkit-fill-available; */
 }

 #cf4a img {
   left: 0;
   top: 5%;
   position: absolute;
   width: -webkit-fill-available;
   height: 90%;

 }

#introText {
   position: absolute;
   z-index: 999;
   top: 65%;
   left: 20%;
   /* right:45%; */
   text-align: center;
   width: 60%;
   color: white;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .title {
   font-size: 60px;
   /* font-weight: boloder; */
   /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
 }

 .intro {
   font-size: 25px;
   font-weight: bold;
 }
 
 #cf4a img {
   -webkit-animation-name: cf4FadeInOut;
   -webkit-animation-timing-function: ease-in-out;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-duration: 40s;
 
   -moz-animation-name: cf4FadeInOut;
   -moz-animation-timing-function: ease-in-out;
   -moz-animation-iteration-count: infinite;
   -moz-animation-duration: 40s;
 
   -o-animation-name: cf4FadeInOut;
   -o-animation-timing-function: ease-in-out;
   -o-animation-iteration-count: infinite;
   -o-animation-duration: 40s;
 
   animation-name: cf4FadeInOut;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   animation-duration: 40s;
 }
 #cf4a img:nth-of-type(1) {
   -webkit-animation-delay: 30s;
   -moz-animation-delay: 30s;
   -o-animation-delay: 30s;
   animation-delay: 30s;
 }
 #cf4a img:nth-of-type(2) {
   -webkit-animation-delay: 20s;
   -moz-animation-delay: 20s;
   -o-animation-delay: 20s;
   animation-delay: 20s;
 }
 #cf4a img:nth-of-type(3) {
   -webkit-animation-delay: 10s;
   -moz-animation-delay: 10s;
   -o-animation-delay: 10s;
   animation-delay: 10s;
 }
 #cf4a img:nth-of-type(4) {
   -webkit-animation-delay: 0;
   -moz-animation-delay: 0;
   -o-animation-delay: 0;
   animation-delay: 0;
 }
 



tr:hover {
background-color: rgb(226, 225, 231);    
}


input[type=text]{
background-color: rgb(252, 252, 252);    
}

.custom-select{
background-color: rgb(252, 252, 252);    
}


.container-image {
    background: url(../images/lotus.JPG) no-repeat center fixed; 
    background-size: cover;

}

.card {
  border: 5px solid darkcyan;
  border-radius: .5rem;
}

.card-header {
  padding: .75rem 1.25rem;
  background-color: darkcyan;
  color: whitesmoke;
}


@media screen and (max-width: 768px) {
  .col {
    min-width: 100%;
  }
}

.suggestion {
  margin-top: 2%;
  background-color: rgb(48, 114, 4);
  color: whitesmoke;
}

.suggestion:hover {
 background-color: rgba(48, 114, 4, 0.616);

}
.suggestion .btn {
  float: right; 
  margin-top: -6px;
  color: whitesmoke;
  background-color: rgb(48, 114, 4);
}

.suggestion a {
    color: whitesmoke;
    text-decoration: none;
}

.suggestion .btn:hover {
 background-color: rgba(48, 114, 4, 0.616);
}

#viewNav {
  background-color: rgb(226, 225, 231);
  margin: 0%;
}


/* google map */
#map-container-5 {
  width: 100%; height: 400px; margin-top: 40px; margin-bottom: 40px;
  border:1px solid black; padding-left:5px; padding-right:5px;
}

.data-validation {
  color:red;
  font-size: 75%;
  font-style: italic;
}
